@use "../abstracts/" as *;

.author-card-box {
  @include flex($direction: row, $justify: center, $gap: 8px);

  @include desktop {
    gap: 16px;
  }

  .arrow {
    transition: transform 0.3s ease;

    @include flex($align: center);

    &:hover {
      transform: scale(1.5); /* tăng kích thước lên 1.5 lần */
      cursor: pointer;
    }
  }

  .author-card {
    border: 1px $border-bot solid;

    background-color: $default;

    padding: 24px;

    @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 16px,
      $flex: 1
    );

    &:nth-of-type(2) {
      display: none;
      @include tablet {
        @include flex();
      }
    }

    &__text {
      font-size: pxToRem(18);
      text-align: center;
    }

    &__user {
      padding-top: 16px;

      @include flex(
        $direction: column,
        $align: center,
        $justify: center,
        $gap: 16px
      );
    }

    &__info {
      @include flex($direction: column, $align: center, $justify: center);

      .author-name {
        font-size: pxToRem(24);
        font-weight: bold;
      }
    }
  }
}
