@use "../abstracts/" as *;

.branch {
  @include flex($direction: row, $gap: 24px, $wrap: wrap, $justify: center);
  @include tablet {
    @include flex($gap: 24px);
  }

  @include tablet {
    flex-wrap: nowrap;
  }

  @include desktop {
    gap: 16px;
  }

  &__item {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    .image {
      width: 100%;
      cursor: pointer;
    }
  }
}
