@use "../abstracts/" as *;

.branch {
  @include flex($direction: row, $gap: 24px, $wrap: wrap, $justify: center);
  @include tablet {
    @include flex($gap: 24px);
  }

  @include tablet {
    flex-wrap: nowrap;
  }

  @include desktop {
    gap: 16px;
  }

  &__item {
    text-align: center;
    @include desktop {
      flex: 1;
    }

    .image {
      width: 100%;
    }
  }
}
