@use "../abstracts/" as *;

.price-box {
  @include flex($direction: column, $gap: 32px, $justify: center);

  @include tablet {
    @include flex($direction: row, $gap: 24px, $justify: center, $wrap: wrap);
  }

  .price-card {
    min-width: 0;
    @include flex($direction: column, $gap: 32px, $align: center, $flex: 1);

    padding: 48px 24px;

    border: 1px solid $border-bot;

    position: relative;

    .badge {
      top: -12px;
      padding: 2px 12px;
      font-size: pxToRem(14);
      border-radius: 12px;
    }

    .price-tittle {
      @include flex($direction: column, $gap: 8px);
      &__plan {
        font-weight: bold;
        font-size: pxToRem(32);
        line-height: 110%;
      }

      &__sub {
        flex: 1;
        line-height: 140%;
        @include desktop {
          font-size: pxToRem(18);
          white-space: nowrap;
        }
      }

      &__sub,
      &__plan {
        text-align: center;
      }
    }
  }
}
