@use "../abstracts/" as *;

.sec-btn {
  padding: 16px 12px;
  background-color: $default;
  border: 2px $pri-btn solid;
  cursor: pointer;
  border-radius: 0px;

  @include flex($align: center, $justify: center);
  .btn-text {
    font-family: Roboto;
    font-weight: $medium;
    font-size: pxToRem(16);
    padding: 0px 16px;
    color: $pri-btn;
    letter-spacing: 0.5px;
    text-align: center;
    white-space: nowrap;

    transition: color 0.3s ease;
  }

  transition: all 0.3s ease;

  @include desktop {
    &:hover {
      transform: scale(1.05);
    }
  }

  &:active {
    background-color: $pri-btn;
    .btn-text {
      color: $default;
    }
  }
}
