@use "../abstracts/" as *;

.page-header {

  @include flex(
    $direction: column,
    $gap: 24px,
    $align: center,
    $justify: center
  );

  div {
    @include flex(
      $direction: column,
      $gap: 8px,
      $align: center,
      $justify: center
    );
  }
  @include flex(
    $direction: column,
    $gap: 8px,
    $align: center,
    $justify: center
  );

  &__caption {
    color: $cap-text;
    font-size: pxToRem(20);
    text-transform: uppercase;
  }

  &__tittle {
    white-space: pre-line;

    font-size: pxToRem(24);
    @include tablet {
      font-size: pxToRem(33);
    }
    @include desktop {
      font-size: pxToRem(42);
    }

    line-height: 110%;
  }

  &__caption,
  &__tittle {
    text-align: center;
    font-weight: bold;
  }

  &__description {
    line-height: 140%;
    text-align: center;
  }
}
