@use "../abstracts/" as *;

.page-header {
  @include flex($direction: column, $gap: 8px, $align: center);

  &__caption {
    color: $cap-text;
    font-size: pxToRem(20);
    text-transform: uppercase;
  }

  &__tittle {
    font-size: pxToRem(24);
    @include tablet {
      font-size: pxToRem(32);
    }
    @include desktop {
      font-size: pxToRem(40);
    }

    line-height: 110%;
  }

  &__caption,
  &__tittle {
    text-align: center;
    font-weight: bold;
  }
}
