@use "variables" as *;
@use "functions" as *;

//Media Querry Mixin
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

//Flex
@mixin flex(
  $display: flex,
  $direction: false,
  $align: false,
  $justify: false,
  $wrap: false,
  $gap: false,
  $flex: false
) {
  display: $display;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $gap {
    gap: $gap;
  }
  @if $flex {
    flex: $flex;
  }
}

@mixin line-clamp(
  $display: -webkit-box,
  $-webkit-box-orient: vertical,
  $overflow: hidden,
  $line: false
) {
  display: $display;
  -webkit-box-orient: $-webkit-box-orient;
  overflow: $overflow;
  @if $line {
    -webkit-line-clamp: $line;
  }
}
