// Font family
$primary-font: Roboto;

// Font weight
$medium: 500;

// Breakpoints
$tablet: 600px;
$desktop: 1200px;

// Color
$default: #ffffff;

$pri-btn: #0f62fe;

$pri-text: #21272a;
$sec-text: #697077;
$cap-text: #001d6c;

$bg-bot: #dde1e6;
