<section class="blog-page">
  <include
    src="./components/tittle-page.html"
    locals='{
      "captionText" : "From Our Blog",
      "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. \nBibendum amet at molestie mattis.",
      "description" : ""
    }'
  >
  </include>

  <include
    src="./components/blog-card.html"
    locals="{
  }"
  >
  </include>

  <include
    src="./components/pri-button.html"
    locals='{
      "btnText" : "Primary Action"
    }'
  >
  </include>
</section>
