<section class="caption-page">
  <include
    src="./components/tittle-page.html"
    locals='{
        "captionText" : "Caption",
        "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. \nBibendum amet at molestie mattis."
      }'
  >
  </include>

  <include
    src="./components/tools-card.html"
    locals='{
        "icons": [
          { "src": "../assets/icons/calendar-big.svg", "alt": "Calendar icon", "text": "Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec. Proin eget semper orci suspendisse in ornare adipiscing phasellus mauris. Velit faucibus at habitasse tempor sit odio ac commodo dui. " },
          { "src": "../assets/icons/luggage.svg", "alt": "Luggage icon", "text": "Sed et pulvinar donec sed et, nisl dolor amet. Mollis aliquet volutpat ullamcorper ac sed lectus iaculis. Fringilla sed placerat commodo bibendum integer. Diam ut magna eleifend consectetur. " }
        ]
      }'
  ></include>

  <include
    src="./components/tools-card.html"
    locals='{
      "icons": [
        { "src": "../assets/icons/pulse.svg", "alt": "Pulse icon", "text": "Nunc amet, tempor morbi ligula ut faucibus gravida. Accumsan, suspendisse mus quisque pellentesque id vulputate hendrerit. Donec ipsum nibh elementum platea proin egestas gravida consectetur sit." },
        { "src": "../assets/icons/car.svg", "alt": "Car icon", "text": "Pellentesque auctor adipiscing lacus viverra. Neque, nulla in amet eget. Arcu, nibh purus urna amet sagittis quis tellus etiam eget. Ultrices egestas a tristique aliquet odio varius. " }
      ]
    }'
  ></include>

  <include
    src="./components/pri-button.html"
    locals='{
        "btnText" : "Primary Action"
      }'
  >
  </include>
</section>
