<section class="company-page">
  <div class="company-page__top">
    <include
      src="./components/tittle-page.html"
      locals='{
        "captionText" : "You Are in Good Company",
        "tittle" : "Bibendum amet at molestie mattis.",
        "description" : ""
      }'
    >
    </include>

    <p class="text">
      Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc
      in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut. Non,
      amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum scelerisque
      sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.
    </p>
  </div>

  <div class="company-page__bottom">
    <include
      src="./components/branch.html"
      locals='{
        "icons": [
          { "src": "shells.svg", "alt": "Shells icon"},
          { "src": "Smartfinder.svg", "alt": "Smartfinder icon" },
          { "src": "zoomerr.svg", "alt": "Zoomerr icon"},
          { "src": "artvenue.svg", "alt": "Artvenue icon" },
          { "src": "kontrastr.svg", "alt": "Kontrastr icon"},
          { "src": "wavesmarathon.svg", "alt": "Wavesmarathon icon" }
        ]
      }'
    >
    </include>
  </div>
</section>
