<section class="cta-page">
  <include
    src="./components/tittle-page.html"
    locals='{
        "captionText" : "",
        "tittle" : "Bibendum amet at molestie mattis.",
        "description" : "Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis."
      }'
  >
  </include>

  <div class="cta-buttons">
    <include
      src="./components/pri-button.html"
      locals='{
      "btnText" : "Primary Action"
      }'
    >
    </include>

    <include
      src="./components/sec-button.html"
      locals='{
      "btnText" : "Secondary Action"
      }'
    >
    </include>
  </div>
</section>
