<section class="question-page">
  <include
    src="./components/tittle-page.html"
    locals='{
      "captionText" : "Frequently Asked questions",
      "tittle" : "Bibendum amet at molestie mattis.",
      "description" : ""
    }'
  >
  </include>

  <div class="FAQ-box">
    <include
      src="./components/FAQ.html"
      locals='{
        "list" : "[`Who should use the app?`, `What is included with my subscription?`, `How do I get paid?`, `Is my personal information safe?`, `How can we get in touch?`]"
      }'
    ></include>
  </div>
</section>
