<section class="team-page">
  <include
    src="./components/tittle-page.html"
    locals='{
    "captionText" : "The Team",
    "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. \nBibendum amet at molestie mattis.",
    "description" : ""
  }'
  >
  </include>

  <div class="team-card-container">
    <include
      src="./components/team-card.html"
      locals='{
        "list" : [
          {"src": "darrell", "firstName": "Darrell", "lastName" : "Steward", "role" : "UI Designer & Co-founder"},
          {"src": "savannah","firstName": "Savannah", "lastName" : "Nguyen", "role" : "UX Designer & Co-founder"}
        ]
    }'
    >
    </include>

    <include
      src="./components/team-card.html"
      locals='{
        "list" : [
          {"src": "dianne", "firstName": "Dianne", "lastName" : "Russell", "role" : "Developer"},
          {"src": "kristin", "firstName": "Kristin", "lastName" : "Watson", "role" : "Sr. Product Designer"}
        ]
    }'
    >
    </include>
  </div>
</section>
