<section class="testimonials-page">
  <div class="testimonials-page__top">
    <include
      src="./components/tittle-page.html"
      locals='{
        "captionText" : "Testimonials",
        "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. \nBibendum amet at molestie mattis.",
        "description" : ""
      }'
    >
    </include>
  </div>

  <div class="testimonials-page__bottom">
    <include
      src="./components/author-card.html"
      locals='{
        "list" : "[`Malesuada facilisi libero, nam eu. Quis pellentesque tortor a elementum ut blandit sed pellentesque arcu. Malesuada in faucibus risus velit diam. Non, massa ut a arcu, fermentum, vel interdum.`, `Nisl vitae viverra dignissim nibh. Nibh imperdiet integer vitae consequat adipiscing pellentesque. Sed amet tincidunt morbi non sed donec mollis pharetra neque.`]"
      }'
    >
    </include>
  </div>
</section>
