<section class="tools-page">
  <include
    src="./components/tittle-page.html"
    locals='{
        "captionText" : "The tools you need",
        "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        "description" : ""
      }'
  >
  </include>

  <div class="tools__icon">
    <include
      src="./components/tools-card.html"
      locals='{
        "icons": [
          { "src": "calendar.svg", "alt": "Calendar icon", "text": "Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse." },
          { "src": "luggage.svg", "alt": "Luggage icon", "text": "Id eros pellentesque facilisi id mollis faucibus commodo enim." },
          { "src": "pulse.svg", "alt": "Pulse icon", "text": "Nunc, pellentesque velit malesuada non massa arcu." },
          { "src": "car.svg", "alt": "Car icon", "text": "Imperdiet purus pellentesque sit mi nibh sit integer faucibus." }
        ]
      }'
    ></include>
  </div>

  <div class="tools_button">
    <button>Primary Action</button>
  </div>
</section>
