<section class="tools-page">
  <include
    src="./components/tittle-page.html"
    locals='{
        "captionText" : "The tools you need",
        "tittle" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        "description" : ""
      }'
  >
  </include>

  <include
    src="./components/tools-card.html"
    locals='{
        "icons": [
          { "src": "calendar.svg", "alt": "Calendar icon", "text": "Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse." },
          { "src": "luggage.svg", "alt": "Luggage icon", "text": "Id eros pellentesque facilisi id mollis faucibus commodo enim." },
          { "src": "pulse.svg", "alt": "Pulse icon", "text": "Nunc, pellentesque velit malesuada non massa arcu." },
          { "src": "car.svg", "alt": "Car icon", "text": "Imperdiet purus pellentesque sit mi nibh sit integer faucibus." }
        ]
      }'
  ></include>

  <include
    src="./components/buttons.html"
    locals='{
      "typeButton" : "pri",
      "btnText" : "Primary Action"
    }'
  >
  </include>
</section>
