@use "../../abstracts/" as *;

.caption-page {
  padding: 48px 16px;

  @include flex(
    $direction: column,
    $gap: 32px,
    $align: center,
    $justify: center,
    $wrap: wrap
  );
  @include tablet {
    padding: 60px 28px;
  }
  @include desktop {
    padding: 80px;
    @include flex($gap: 64px);
  }

  .tools {
    @include flex($gap: 24px);

    &__item {
      @include flex($direction: column, $gap: 24px);
      @include tablet {
        @include flex($direction: column);
      }
    }

    &__image {
      width: 96px;
      height: 96px;
    }
  }
}
