@use "../../abstracts/" as *;

.company-page {
  background-color: $bg-bot;
  &__top {
    display: none;
    padding: 80px 80px 0;

    @include desktop {
      @include flex($direction: column, $gap: 48px);
    }

    .page-header {
      @include desktop {
        @include flex($direction: column);
      }
    }

    .text {
      text-align: center;
      font-size: 18px;
    }
  }

  &__bottom {
    padding: 48px 16px;
    @include desktop {
      padding: 80px 80px;
    }
  }
}
