@use "../abstracts/" as *;

.header-main {
  width: 100%;
  @include flex($direction: column);

  // Navbar mobile
  &__top {
    padding: 16px;
    height: 80px;
    border-bottom: $border-bot 1px solid;

    .nav {
      @include flex($align: center, $justify: space-between);

      &__buttons-tablet,
      &__list {
        display: none;
      }

      &__logo {
        height: 24px;
        width: pxToRem(143);
        @include flex($align: center, $gap: 4px);
        picture {
          height: 24px;
        }
      }
    }

    // Navbar tablet
    @include tablet {
      .nav__buttons-tablet {
        @include flex($align: center, $justify: center, $gap: 16px);
        width: 437.5px;
        height: 48px;

        .btn {
          font-size: pxToRem(14);
          padding: 13px 12px;

          &-sec {
            width: 75px;
          }
          &-pri {
            width: 132px;
          }
        }
      }
    }

    //Navbar Desktop
    @include desktop {
      gap: 24px;
      padding: 16px 80px;
      .nav {
        &__mobile,
        &__plus {
          display: none;
        }

        &__logo {
          width: 437.5px;
        }

        &__list {
          @include flex($align: center, $justify: center, $gap: 16px);

          width: 357px;
          height: 48px;

          .link {
            @include flex($align: center, $justify: center, $gap: 8px);

            padding: 12px 8px;
            font-size: pxToRem(16);
            font-weight: $medium;
            color: $pri-text;

            &__icon {
              width: 24px;
              height: 24px;
            }
          }
        }
        &__buttons-desktop {
          @include flex($align: center, $justify: flex-end, $gap: 16px);
          .btn {
            font-size: pxToRem(16);
            height: 48px;
            padding: 16px 12px;
            &-sec {
              width: 103px;
            }
            &-pri {
              width: 169px;
            }
          }
        }
      }
    }
  }

  &__bottom {
    @include flex($align: center, $direction: column, $gap: 32px);

    background-color: $bg-bot;
    padding: 48px 16px;

    .hero-content {
      @include flex($direction: column, $align: center, $gap: 48px);

      &__text {
        @include flex($direction: column, $align: center, $gap: 24px);

        .tittle {
          font-weight: bold;
          font-size: pxToRem(32);
          line-height: 110%;
          text-align: center;
        }

        .description {
          font-size: pxToRem(18);
          line-height: 140%;
          text-align: center;
        }
      }

      &__buttons {
        @include flex($direction: row, $gap: 16px);

        .btn {
          padding: 8px 12px;
          font-size: pxToRem(14);
        }
      }
    }

    .hero-image {
      img {
        width: 100%;
      }
    }
  }
}
