@use "../abstracts/" as *;

.header-main {
  width: 100%;
  @include flex($direction: column);

  // Navbar
  &__top {
    padding: 16px;
    border-bottom: $border-bot 1px solid;

    @include tablet {
      padding: 16px 80px;
    }

    //style for navbar
    .nav {
      @include flex($align: center, $justify: space-between);

      @include desktop {
        @include flex($justify: space-between);
      }

      //Style for button
      &__buttons {
        display: none;

        @include desktop {
          @include flex($align: center, $justify: flex-end, $gap: 16px);
          width: 437.5px;
          height: 48px;
        }

        .pri-btn {
          padding: 16px 12px;
          .btn-text {
            font-size: pxToRem(16);
          }

          @include tablet {
            margin-right: 80px;
          }

          @include desktop {
            margin-right: 0;
          }
        }
      }

      //style for list
      &__list {
        display: none;

        @include desktop {
          @include flex($align: center, $justify: center, $gap: 16px);

          width: 357px;
          height: 48px;
        }

        //style for a tag of desktop
        .link {
          padding: 12px 8px;
          font-size: pxToRem(16);
          font-weight: $medium;
          color: $pri-text;
          transition: all 0.3s ease;

          @include flex($align: center, $justify: center, $gap: 8px);

          &__icon {
            width: 24px;
            height: 24px;
          }

          &:hover {
            transform: scale(1.2);
            cursor: pointer;
          }

          &:active {
            color: $pri-btn;
          }
        }
      }

      //style for logo
      &__logo {
        height: 24px;
        width: pxToRem(143);
        @include flex($align: center, $gap: 4px);
        picture {
          height: 24px;
        }

        @include desktop {
          width: 437.5px;
        }
      }

      //style for button group
      &__plus {
        @include desktop {
          display: none;
        }

        img {
          transition: transform 0.5s ease;
          &:active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  //Start style for bottom header
  &__bottom {
    background-color: $bg-bot;

    padding: 48px 16px;

    @include flex($align: center, $direction: column, $gap: 32px);

    @include desktop {
      @include flex($direction: row, $justify: space-between, $gap: 80px);
    }

    @include tablet {
      padding: 80px 80px;
    }

    .hero-content {
      @include flex($direction: column, $align: center, $gap: 48px);
      @include desktop {
        flex: 1;
        padding: 32px 0px;
        @include flex($align: flex-start, $gap: 64px);
      }

      &__text {
        @include flex($direction: column, $align: flex-start, $gap: 24px);
        @include desktop {
          gap: 48px;
        }

        .tittle {
          font-weight: bold;
          font-size: pxToRem(32);
          line-height: 110%;
          text-align: center;

          @include tablet {
            font-size: pxToRem(43);
          }

          @include desktop {
            font-size: pxToRem(54);
            text-align: left;
          }
        }

        .description {
          font-size: pxToRem(18);
          line-height: 140%;
          text-align: center;

          @include desktop {
            text-align: left;
          }
        }
      }

      &__buttons {
        @include flex($direction: row, $gap: 16px, $wrap: wrap);

        .pri-btn {
          @include flex($align: center, $justify: center);
          &__icon {
            display: none;
            @include desktop {
              display: inline;
            }
          }

          .btn-text {
            font-size: pxToRem(14);
            @include tablet {
              font-size: pxToRem(18);
            }
            @include desktop {
              font-size: pxToRem(20);
            }
          }

          @include desktop {
            figure {
              @include flex($justify: center, $align: center, $wrap: nowrap);
            }
          }
        }

        .sec-btn {
          .btn-text {
            font-size: pxToRem(14);
            @include tablet {
              font-size: pxToRem(18);
            }
            @include desktop {
              font-size: pxToRem(20);
            }
          }
        }

        .sec-btn,
        .pri-btn {
          padding: 8px 12px;

          min-width: 0;
          flex: 1;
          @include tablet {
            padding: 16px;
          }
        }
      }
    }

    .hero-image {
      animation: upDown 2.5s infinite linear;

      @include desktop {
        flex: 1;
      }

      img {
        width: 100%;
      }
    }
  }
}
