<div class="author-card-box">
  <figure class="arrow">
    <img src="../assets/icons/chevron-left.svg" alt="Chevron left" />
  </figure>

  <each loop="paragraph in {{list}}">
    <div class="author-card">
      <div class="author-card__logo">
        <figure>
          <img src="../assets/icons/zoomerr-2.svg" alt="Zoomerr logo" />
        </figure>
      </div>

      <p class="author-card__text">{{paragraph}}</p>

      <figure class="author-card__user">
        <img src="../assets/icons/user.svg" alt="Avatar" />
        <figcaption class="author-card__info">
          <span class="author-name">Author Name</span>
          <span class="author-card__text">Role</span>
        </figcaption>
      </figure>
    </div>
  </each>

  <figure class="arrow">
    <img src="../assets/icons/chevron-right.svg" alt="Chevron right" />
  </figure>
</div>
