<div class="team-card">
  <each loop="item in {{list}}">
    <div class="card">
      <figure>
        <picture>
          <source
            srcset="../assets/images/desktop/{{item.src}}.svg"
            media="(min-width: 1200px)"
          />
          <img
            src="../assets/images/mobile/{{item.src}}.svg"
            alt="{{item.firstName}} {{item.lastName}}"
          />
        </picture>
      </figure>

      <div class="name-role">
        <p class="name">{{item.firstName}} {{item.lastName}}</p>
        <p class="role">{{item.role}}</p>
      </div>

      <include
        src="./components/branch.html"
        locals='{
        "icons": [
          { "src": "linkedin-gray.svg", "alt": "Linkedin icon" },
          { "src": "twitter-gray.svg", "alt": "Twitter icon"},
          { "src": "instagram-gray.svg", "alt": "Instagram icon" },
          { "src": "facebook-gray.svg", "alt": "Facebook icon" }
        ]
      }'
      >
      </include>

      <include
        src="./components/sec-button.html"
        locals='{
        "btnText" : "Contact {{item.firstName}}"
      }'
      >
      </include>
    </div>
  </each>
</div>
