html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-20px);

  animation: fadeSlideIn 1s ease forwards;
}
