<header class="header-main">
  <!-- Start of header top -->
  <div class="header-main__top">
    <!-- Mobile Navbar -->
    <nav class="nav">
      <h1>
        <a href="javascript:void(0)" class="nav__logo">
          <picture>
            <source
              srcset="../assets/icons/logo-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img src="../assets/icons/logo-mobile.svg" alt="WebbyFrames Logo" />
          </picture>
        </a>
      </h1>

      <ul class="nav__list">
        <li>
          <a href="javascript:void(0)" class="link">Eleven</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="link">Twelve</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="link">Thirteen</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="link">
            Sixteen
            <img
              src="../assets/icons/arrow-down.svg"
              alt=""
              class="link__icon"
            />
          </a>
        </li>
      </ul>

      <div class="nav__buttons-tablet nav__buttons-desktop">
        <button class="btn btn-sec">Log In</button>
        <button class="btn btn-pri">Start Free Trial</button>
      </div>

      <img
        src="../assets/icons/plus.svg"
        alt="Button group"
        class="nav__plus"
      />
    </nav>
  </div>

  <div class="header-main__bottom"></div>
</header>
