<header class="header-main">
  <!-- Start of header top -->
  <div class="header-main__top">
    <!-- Mobile Navbar -->
    <nav class="nav-mobile nav-tablet">
      <a href="javascript:void(0)" class="nav-mobile__logo">
        <picture>
          <figure>
            <img src="../assets/icons/logo.svg" alt="WebbyFrames Logo" />
          </figure>
        </picture>
        <span>WebbyFrames</span>
      </a>

      <div class="nav-buttons tablet desktop">
        <button class="btn-login">Log In</button>
        <button class="btn-free_trial">Start free trial</button>
      </div>

      <figure>
        <img
          src="../assets/icons/plus.svg"
          alt="Button group"
          class="nav-mobile__plus"
        />
      </figure>
    </nav>
  </div>
</header>
