<header class="header-main">
  <!-- Start of header top -->
  <div class="header-main__top">
    <!-- Mobile Navbar -->
    <nav class="nav">
      <a href="javascript:void(0)" class="nav__logo">
        <figure>
          <picture>
            <source
              srcset="../assets/icons/logo-desktop.svg"
              media="(min-width: 1200px)"
            />
            <img src="../assets/icons/logo-mobile.svg" alt="WebbyFrames Logo" />
          </picture>
        </figure>
      </a>

      <include
        src="./components/list.html"
        locals='{
          "list" : "[`Eleven`, `Twelve`, `Thirteen`, `Sixteen`]"
        }'
      >
      </include>
      <div class="nav__buttons-tablet nav__buttons-desktop">
        <button class="btn btn-sec">Log In</button>
        <button class="btn btn-pri">Start Free Trial</button>
      </div>

      <figure>
        <img
          src="../assets/icons/plus.svg"
          alt="Button group"
          class="nav__plus"
        />
      </figure>
    </nav>
  </div>

  <div class="header-main__bottom">
    <section>
      <article>
        <h1>Host Design Meetings From Anywhere</h1>
        <p>
          Unlock your design skills to create beautiful websites and apps with a
          poweful and easy-to-use tool.
        </p>
      </article>
      <div class="buttons">
        <button class="btn btn-pri">Primary Action</button>
        <button class="btn btn-sec">Secondary Action</button>
      </div>
    </section>
    <section>
      <figure>
        <picture>
          <source
            srcset="../assets/images/desktop/hero-image.svg"
            media="(min-width: 1200px)"
          />
          <img src="../assets/images/mobile/hero-image.svg" alt="Hero image" />
        </picture>
      </figure>
    </section>
  </div>
</header>
