<main>
  <include src="./layout/mainpages/tools-page.html"></include>
  <include src="./layout/mainpages/company-page.html"></include>
  <include src="./layout/mainpages/caption-page.html"></include>
  <include src="./layout/mainpages/testimonials-page.html"></include>
  <include src="./layout/mainpages/blog-page.html"></include>
  <include src="./layout/mainpages/team-page.html"></include>
  <include src="./layout/mainpages/price-page.html"></include>
  <include src="./layout/mainpages/question-page.html"></include>
  <include src="./layout/mainpages/cta-page.html"></include>
</main>
